/* 

.input-feedback {
  color: #f44336;
  margin-top: 0.25rem;
}

.error {
  color: #f44336;
}

.success {
  color: green;
}
.invalid .feedback {
  color: #f44336;
}
.valid .feedback {
  color: green;
}

.valid .feedback {
  color: green;
}
.invalid{
    border: 2px solid #f44336;
} */
